<?xml version="1.0" encoding="utf-8"?>
<manifest xmlns:android="http://schemas.android.com/apk/res/android"
    package="tech.dsckiet.youtubeclone">

    <application
        android:allowBackup="true"
        android:icon="@mipmap/ic_launcher"
        android:label="@string/app_name"
        android:roundIcon="@mipmap/ic_launcher_round"
        android:supportsRtl="true"
        android:theme="@style/AppTheme">
        <activity android:name=".Playlist" />
        <activity android:name=".VideoPlayer.Video" />
        <activity android:name=".Explore.Fashion" />
        <activity android:name=".Explore.Music_Sections.Music" />
        <activity android:name=".Explore.Withme.Withme" />
        <activity android:name=".Explore.News_Sections.News" />
        <activity android:name=".Explore.Trending_Sections.Trending" />
        <activity android:name=".Explore.Learning_Sections.Learning" />
        <activity android:name=".Explore.Gaming" />
        <activity android:name=".Explore.Movies_Sections.Movies" />
        <activity android:name=".Channel.Channel" />
        <activity android:name=".Splash" />
        <activity android:name=".MainActivity">
            <intent-filter>
                <action android:name="android.intent.action.MAIN" />

                <category android:name="android.intent.category.LAUNCHER" />
            </intent-filter>
        </activity>
    </application>

</manifest>